---
layout: default
title: Green Hostel
phone: +380685006977
---

<!-- Page -->
<div class="reg_page" id="reg_page">

	<!-- To Top -->
	<a href="#reg_page" class="reg_top ti ti-arrow-up reg_go"></a>

	<!-- Header -->
	<header>

		<div class="container reg_wht_txt">

			<!-- Header Phone -->
			<div class="reg_header_phone">
				<b>+{{ site.data.params.phone }}</b>
			</div>
			<!-- Header Phone End-->

			<!-- Header Social Buttons -->
			<div class="reg_header_soc">
				<b>Поділитись</b>
				<div class="reg_header_soc_btns">
					<a href="#" class="ti ti-facebook"></a>
					<a href="#" class="ti ti-twitter"></a>
					<a href="#" class="ti ti-instagram"></a>
					<a href="#" class="ti ti-google"></a>
				</div>
			</div>
			<!-- Header Social Buttons End-->
		</div>


		{% include menu.html %}


	</header>
	<!-- Header End -->


	<!-- Slider -->
	<div class="reg_slider reg_image_bck reg_fixed" data-stellar-background-ratio="0.2" data-image="/images/logo_background.png">
		<div class="reg_over" data-color="#333" data-opacity="0.3" data-0="opacity:0.3;" data--400-bottom="opacity:0;"></div>

		<div class="container">
			{% include logo.html %}

			{% include booking.html %}

		</div>
		<!-- container end -->

	</div>
	<!-- Slider End -->

	<!-- Content -->
	<section id="reg_content" class="reg_content">

		{% include about.html %}

		{% include rooms.html %}

		{% include services.html %}

		{% include gallery.html %}

		{% include offers.html %}

		<!-- section -->
		<section class="reg_section reg_image_bck" data-color="#f2f2f2" id="map">
			<div class="container text-center">
				<h2>Find Us</h2><br>
				<h3 class="reg_subtitle">On the Map</h3>

				<!-- google map -->
				<div class="reg_map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38852.53604898047!2d13.352403003182175!3d52.51020916491075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x042120465b5e3b70!2sBerlin%2C+Germany!5e0!3m2!1sen!2sru!4v1465312283068" allowfullscreen></iframe>
				</div>
				<!-- google map end -->

			</div>
			<!-- container end -->
		</section>
		<!-- section end -->

	</section>
	<!-- content end -->





	<!-- Footer -->
	<footer class="reg_image_bck" data-color="#292929">
		<div class="container">

			<!-- help -->
			<div id="reg_footer_block" data-0="@class:noactive" data-300-end="@class:active">
				<i class="ti flaticon-reception-bell"></i><span class="reg_subtitle">Need Help. <b>+44 (0) 20 4455 6677</b></span>
				<p>If you hate forms (and who doesn’t?) or if you want to talk to a human being (and who doesn’t?), then you can ring us on the following number.</p>
			</div>
			<!-- help end -->

			<div class="row reg_wht_txt">
				<div class="col-md-5 col-sm-3">
					<div class="reg_subtitle">Regal Hostels</div>
					<h3>Berlin-London</h3>
					<p>© 2016 Regal</p>
				</div>
				<div class="col-md-2 col-sm-3">
					<h4>Address</h4>
					<p>68 Cardamon Place, Melbourne Vic 3000<br>
						Berlin</p>
				</div>
				<div class="col-md-3 col-sm-3">
					<h4>Contact</h4>
					<p><a href="mailto:contact@regalhostels.com">contact@regalhostels.com</a><br>
						T / +44 (0) 20 4455 6677<br>
						<a href="mailto:jobs@regalhostels.com">jobs@regalhostels.com</a>

					</p>
				</div>
				<div class="col-md-2 col-sm-3">
					<h4>Follow Us</h4>
					<ul>
						<li><a href="#">Behance</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Dribble</a></li>
					</ul>
				</div>

			</div>
			<!-- row end -->
		</div>
		<!-- container end -->
	</footer>
	<!-- Footer End -->

</div>
<!-- Page End -->