---
layout: default
title: Green Hostel
phone: +380685006977
---

<!-- Page -->
<div class="reg_page" id="reg_page">

	<!-- To Top -->
	<a href="#reg_page" class="reg_top ti ti-arrow-up reg_go"></a>

	<!-- Header -->
	<header>

		<div class="container reg_wht_txt">

			<!-- Header Phone -->
			<div class="reg_header_phone">
				<b>+{{ site.data.params.phone }}</b>
			</div>
			<!-- Header Phone End-->

			<!-- Header Social Buttons -->
			<div class="reg_header_soc">
				<b>Поділитись</b>
				<div class="reg_header_soc_btns">
					<a href="#" class="ti ti-facebook"></a>
					<a href="#" class="ti ti-twitter"></a>
					<a href="#" class="ti ti-instagram"></a>
					<a href="#" class="ti ti-google"></a>
				</div>
			</div>
			<!-- Header Social Buttons End-->
		</div>


		{% include menu.html %}


	</header>
	<!-- Header End -->


	<!-- Slider -->
	<div id="home" class="reg_slider reg_image_bck reg_fixed" data-stellar-background-ratio="0.2" data-image="/images/logo_background.png">
		<div class="reg_over" data-color="#333" data-opacity="0.3" data-0="opacity:0.3;" data--400-bottom="opacity:0;"></div>

		<div class="container">
			{% include logo.html %}

			{% include booking.html %}

		</div>
		<!-- container end -->

	</div>
	<!-- Slider End -->

	<!-- Content -->
	<section id="reg_content" class="reg_content">

		{% include about.html %}

		{% include rooms.html %}

		{% include services.html %}

		{% include gallery.html %}

		{% include offers.html %}

		{% include map.html %}

	</section>
	<!-- content end -->


	<!-- Footer -->
	<footer class="reg_image_bck" data-color="#292929">
		<div class="container">

			<!-- help -->
			<div id="reg_footer_block" data-0="@class:noactive" data-300-end="@class:active">
				<i class="ti flaticon-reception-bell"></i><span class="reg_subtitle">Допомога. <b>+{{site.data.params.phone}}</b></span>
				<p>Якщо у вас виникли запитання, або якщо ви хочете поговорити з кимось із персоналу - зателефонуйте нам за цим номером.</p>
			</div>
			<!-- help end -->

			<div class="row reg_wht_txt">
				<div class="col-md-5 col-sm-3">
					<div class="reg_subtitle">{{site.data.params.name}}</div>
					<h3>Львів</h3>
					<p>© 2017</p>
				</div>
				<div class="col-md-2 col-sm-3">
					<h4>Адреса</h4>
					<p>{{site.data.params.address}}</p>
				</div>
				<div class="col-md-3 col-sm-3">
					<h4>Контакти</h4>
					<p><a href="mailto:{{site.data.params.email}}">{{site.data.params.email}}</a><br>
						T / +{{site.data.params.phone}}<br>
					</p>
				</div>
				<div class="col-md-2 col-sm-3">
					<h4>Приєднуйся</h4>
					<ul>
						<li><a href="#">Behance</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Dribble</a></li>
					</ul>
				</div>

			</div>
			<!-- row end -->
		</div>
		<!-- container end -->
	</footer>
	<!-- Footer End -->

</div>
<!-- Page End -->