<!-- Booking -->
<div id="reg_slider_review" data-0="@class:noactive" data-200="@class:active">
    <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
                     <span class="reg_subtitle">
                        <span class="reg_book_close"><span></span><span></span></span>
                        Замовити
                    </span>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="reg_slider_review_form">
                <div class="row">

                    <!-- Form -->
                    <form class="reg_form" action="https://formspree.io/greenhostel@ukr.net" method="POST">
                        <div class="col-md-2 reg_book_item">
                            <input type="text" value="" class="form-control date_picker" name="arrival" required placeholder="Прибуття">
                        </div>
                        <div class="col-md-2 reg_book_item">
                            <input type="text" value="" class="form-control date_picker" name="departure" required placeholder="Вибуття">
                        </div>
                        <div class="col-md-3 reg_book_item">
                            <input type="text" value="" class="form-control" name="name" required placeholder="Ім'я">
                        </div>
                        <div class="col-md-3 reg_book_item">
                            <input type="text" value="" class="form-control" name="phone" required placeholder="Телефон>
                        </div>
                        <div class="col-md-2 reg_book_item">
                            <select class="form-control" id="room" name="room">
                                <option>Mixed dorms</option>
                                <option>Girls-only dorms</option>
                                <option>Private rooms</option>
                            </select>
                        </div>
                        <div class="col-md-2 reg_book_item">
                            <input type="submit" class="btn btn-white submit" value="Відіслати">
                        </div>
                    </form>
                    <!-- Form End -->
                </div>
                <!-- row end -->
            </div>
        </div>
    </div>

</div>
<!-- booking end -->