<div class="reg_slider_content reg_wht_txt">
    <!-- vertical text -->
    <div class="reg_slider_copyright reg_slider_copyright_right">© Regal 2016</div>

    <!-- Slider Texts -->
    <div class="reg_slide_txt reg_slide_center_middle text-center"  data-0="opacity:0.6;" data--400-bottom="opacity:0;">

        <div class="reg_slide_title">{{ site.data.params.haslo }}</div>
        <div class="reg_slide_subtitle">{{ site.data.params.name }}</div>

    </div>
    <!-- Slider Texts End -->

    <!-- Slide Down -->
    <a class="reg_scroll_down reg_go" href="#reg_content">
        <b></b>
        Прокрути
    </a>
</div>