<!-- section -->
<section class="reg_section reg_image_bck" data-color="#f2f2f2" id="map">
    <div class="container text-center">
        <h2>Знайди Нас на Карті</h2><br>

        <!-- google map -->
        <div class="reg_map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38852.53604898047!2d13.352403003182175!3d52.51020916491075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x042120465b5e3b70!2sBerlin%2C+Germany!5e0!3m2!1sen!2sru!4v1465312283068" allowfullscreen></iframe>
        </div>
        <!-- google map end -->

    </div>
    <!-- container end -->
</section>
<!-- section end -->