<!-- section -->
<section class="reg_section reg_image_bck" data-color="#f2f2f2" id="rooms">
    <div class="container text-center">
        <h2>{{ site.data.rooms.title }}</h2><br>

        <div class="row row_no_pd reg_auto_height">

            <!-- item -->
            {% for room in site.data.list.rooms %}
            <div class="col-md-6" >
                <div class="reg_single_carousel reg_rooms_carousel reg_wht_txt">
                    {% for image in room.images %}
                    <div class="reg_room_block reg_image_bck" data-image="/images/rooms/{{image.url}}">
                        <!-- vertical text -->
                        <div class="reg_slider_copyright">{{image.title}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 reg_image_bck" data-color="#fff">
                <div class="reg_simple_block text-left">
                    <h2>{{room.title}} <a href="#reg_page" class="reg_go"><i class="ti ti-tag"></i><b>Зарезервувати</b></a></h2>
                    <h4>{{room.description}}</h4>
                    <ul>
                        {% for option in room.options %}
                        <li>{{option}}</li>
                        {% endfor %}
                    </ul>
                    <h3>Від <span class="reg_underline_title">&#8372;{{room.price}}</span> за ліжко за ніч </h3>
                </div>
            </div>
            {% endfor %}
            <!-- item end -->

        </div>
        <!-- row end -->

    </div>
    <!-- container end -->
</section>
<!-- section end -->