<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.data.params.name }}</title>


    <!-- Library CSS -->
    <link href="css/regal_library.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="fonts/themify-icons.css" rel="stylesheet">
    <link href="fonts/hotel/flaticon.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/regal_style.css" rel="stylesheet">

    <!-- Google Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,900' rel='stylesheet' type='text/css'> -->
</head>

<body>

  {{ content }}

  <!-- JQuery -->
  <script src="js/jquery-1.12.4.min.js"></script>
  <!-- Library JS -->
  <script src="js/regal_library.js"></script>
  <!-- Theme JS -->
  <script src="js/regal_script.js"></script>
  <script src="js/validation-uk.js"></script>


</body>
</html>
